################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/SerialPortAsync/obj
/SerialPortAsync/bin
/SerialPortAsync/SerialPortAsync.csproj.user
/SerialPortAsync/Properties/PublishProfiles
/Demo/bin
/Demo/obj
/Demo/Properties/PublishProfiles
*.user
